@{
  Layout = "_Layout";
}

<h2>List of Client Names for @Model["stylist"].GetName():</h2>

@foreach(var client in @Model["clients"])

{
  <li>@client.GetName()</li>
}

<h3>Current Specialties for @Model["stylist"].GetName():</h3>
@foreach (var stylistSpecialty in Model["stylistSpecialties"])
{
    <li>@stylistSpecialty.GetDescription()</li>
}

<h3>Add A New Client for this Stylist</h3>

 <form action='/stylists/@Model["stylist"].GetId()/clients/new/' method="post">
            <div class="col col-md-3">
                <label for="clientName">Client Name:</label>
                <input class="form-control" id="clientName" name="clientName" type="text" required><br>
            </div>  

    <br>
    <button class="btn btn-primary btn-lg" type="submit">Add</button>       
</form>

<h3>Add a Specialty/ies to @Model["stylist"].GetName():</h3>
<form action='/stylist/@Model["stylist"].GetId()/addspecialty' method="post">
    <select name="specialtyId">
            @foreach(var specialty in Model["specialties"])
            {
                <option class="dropdown-item" value=@specialty.GetId()>@specialty.GetDescription()</option>
            }
    </select>
     <button class="btn btn-primary btn-lg" type="submit">Add</button>
</form>

  
<br>
<form action='/stylist/@Model["stylist"].GetId()/edit' method="post">
        <div class="col col-md-3">
            <label for="stylistName">Update Stylist Name:</label>
            <input class="form-control" id="stylistName" name="stylistName" type="text" required><br>
        </div>  

    <br>
    <button class="btn btn-primary btn-lg" type="submit">Update</button>  
</form>


<h3>Click <a href='/stylists/@Model["stylist"].GetId()/remove'> here </a> to remove @Model["stylist"].GetName()</h3>
<h3>Click <a href="/stylists/new"> here </a> to add a new stylist. </h3>
